@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root Variable Color*/
:root {
    --orange-color: rgb(254, 163, 1);
    --blue-color: rgb(1, 172, 253);
    --acua-color: rgb(5, 212, 223);
    --purple-color: rgb(93, 88, 239);

    --text-primary: rgb(17, 17, 17);
    --text-secondary: rgb(128, 128, 128);
    --text-light: rgb(102, 102, 102);
    --white: #fff;
}

body {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* ============================== 
 Common Class */
.raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.btn-primary {
    background-color: var(--orange-color);
    color: var(--white);
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    transition: 0.4s ease;
}

.btn-primary:hover {
    background-color: var(--blue-color);
}

/* =========================== 
  Main Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* ============================
  Navbar Section style */
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.brand {
    display: flex;
    align-items: center;
}

.brand img {
    margin-right: 10px;
}

.brand-title {
    font-size: 1.5rem;
    font-weight: 700;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-primary);
    font-size: 1rem;
    font-weight: 600;
    transition: color 0.3s ease;
}

#home {
    color: var(--orange-color);
}

#about {
    color: var(--blue-color);
}

#facilities {
    color: var(--acua-color);
}

#admission {
    color: var(--purple-color);
}

.right-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-icon {
    display: none;
    font-size: 1.5rem;
}



/* ================================
   Banner Section */
.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.banner-content {
    max-width: 640px;
}

.banner-title {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

#empower {
    color: var(--orange-color);
}

#vision {
    color: var(--blue-color);
}

.banner-description {
    color: var(--text-secondary);
    margin-bottom: 20px;
    font-size: 1.25rem;
}

.banner-btn {
    display: inline-block;
    background-color: var(--text-primary);
}

.banner-img img {
    max-width: 100%;
    height: auto;
}

/*  */


/* = = = = = = = = = = = = =
Small Device Media Query */
@media (max-width: 576px) {
    header nav {
        border-bottom: 1px solid var(--orange-color);
    }

    .brand-title {
        display: none;
    }

    nav ul {
        display: none;
    }

    .nav-icon {
        display: block;
    }

    .btn-nav {
        display: none;
    }

    .banner-container {
        flex-direction: column-reverse;
        text-align: center;
        margin-top: -30px;
    }

    .banner-title {
        font-size: 2rem;
        margin-top: 30px;
    }

    .btn-primary {
        padding: 10px 30px;
        font-size: 1rem;
    }

}